{{ attach_library('tribute/time-line-card') }}
<div class="article2">
  <div class="img-div-article">
    <div class="image-ar">
      {{image}}
    </div>
  </div>
  <div style="background: #ccc;">
    <div class="time-line"></div>
  </div>
  <div class="text-div">
    {{date}}
    <div class="content-text">
      {{body}}
    </div>
  </div>
</div>
