{{ attach_library('tribute/block-life-story') }}
<div class="block-life-story">
	<div class="inf-title">{{ title }}</div>
	<div class="line"></div>
	<div class="text-information">{{ body }}</div>
</div>
